src/views/modules-score.pug
//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Curso de preparación de intructores nivel básico

//-Etiqueta Metadescription
block description
	meta(name="description", content="Ovas" )


block content
	//-Modulo puntuación
	section.cont-module-selected
		article.cont-img-module-selected
			div.cont-modulo-select-info
				div.cont-name-module-select.module-1
					p.title-list-module-bold
						|Fundamentos de

					p.title-list-module-light
						|la educación militar la educación militar la educación militar la educación militar la educación militar
				div.cont-number-module-select.module-1
					p.number-module
						|1

		article.cont-score-module
			div.triangle-module
			div.cont-line-verti-module
				div.circle-score
				div.line-score
			div.test-score-module
				h2.title-text-module
					|Modulo 1
				div.circle-icon
					i.icon-file
				p.text-activities-module
					|Actividades: 12
				div.clear
				h3.title-score
					|Resultados Test 1
				p.info-test.module
					|Duración:
				p.info-test.module
					|1H
				p.info-test.module
					|Cantidad de preguntas:
				p.info-test.module
					|20
				p.info-test.module
					|Porcentaje aprobación:
				p.info-test.module
					|60%
				div.clear
				div.cont-table-task-state
					table.cont-task-states-module
						thead
							tr
								th.header-table-task
									|Tarea
								th.header-table-state
									|Estado
						tbody
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
			div.clear
			//-Botón inicio tarea
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente Módulo
					i.icon-arrow







		


	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

publication/modules-score.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Curso de preparación de intructores nivel básico</title>
  <meta name="description" content="Ovas">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <!-- Web Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Varela+Round|Roboto:400italic,300,700,400" rel="stylesheet" type="text/css"><!--[if lt IE]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <header class="menu-header-cont">
    <div class="cont-menu-ovas">
      <div class="cont-menu-options">
        <nav class="cont-menu-ova">
          <label>
            <input type="checkbox"><span class="menu"><span class="hamburger"></span></span>
            <ul class="menu-ova">
              <li class="options-menu-ova active"><a href="module.html">
                  <div class="cont-info-module">
                    <div class="cont-icon-menu"><svg version="1.1" class="icon-books-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 385.5 312.2" style="enable-background:new 0 0 385.5 312.2;" xml:space="preserve">
<path class="st0 bg-svg-azul" d="M55.3,58.6L121.9,81c5.5,2.4,31.5,11.9,77.7,0.5C257.9,67,384.2,41.9,385.5,41.6l-4.7-23.7
	c-0.1,0-0.4,0.1-0.8,0.2l-120.4-17c-13.2-1.9-34.6-1.3-47.7,1.2L50.9,33.6C30,32.5,10,45.3,3.4,66.2c-3.8,12.1-2.8,24.9,3,36.1
	c3,5.7,7,10.6,11.8,14.7c-7.3,5.6-12.9,13.4-15.9,22.8c-3.8,12-2.8,24.9,3,36.1c3.1,6.1,7.5,11.2,12.7,15.3
	c-7.1,5.6-12.7,13.4-15.7,22.6c-3.8,12.1-2.8,24.9,3,36.1c5.8,11.2,15.6,19.5,27.6,23.4l116,37.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1-23.3-1L40.3,250.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,67.1,21.3,94.6,30.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-16.9,1-23.3-1L40.3,176.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,68,21.7,95.7,30.5c6.4,2,16.8,2.5,23.3,1L377,117c0,0-1.2-5.3-2.7-11.8
	c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1.1-23.3-1L41.4,102.5c-5.9-1.9-10.7-5.9-13.5-11.4c-2.8-5.5-3.4-11.7-1.5-17.6
	C30.3,61.4,43.3,54.7,55.3,58.6"/>
</svg>

                    </div>
                    <div class="line-menu line-module-verdesem"></div>
                    <div class="cont-number-menu color-module-azul">
                      <p class="number-module">1</p>
                    </div>
                    <div class="cont-module-name-menu">
                      <p class="title-module-menu">Módulo</p>
                      <p class="text-module-menu">Fundamentos de la educación militar</p>
                    </div>
                  </div></a></li>
              <li class="options-menu-ova active"><a href="module.html">
                  <div class="cont-info-module">
                    <div class="cont-icon-menu"><svg version="1.1" class="icon-books-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 385.5 312.2" style="enable-background:new 0 0 385.5 312.2;" xml:space="preserve">
<path class="st0 bg-svg-azul" d="M55.3,58.6L121.9,81c5.5,2.4,31.5,11.9,77.7,0.5C257.9,67,384.2,41.9,385.5,41.6l-4.7-23.7
	c-0.1,0-0.4,0.1-0.8,0.2l-120.4-17c-13.2-1.9-34.6-1.3-47.7,1.2L50.9,33.6C30,32.5,10,45.3,3.4,66.2c-3.8,12.1-2.8,24.9,3,36.1
	c3,5.7,7,10.6,11.8,14.7c-7.3,5.6-12.9,13.4-15.9,22.8c-3.8,12-2.8,24.9,3,36.1c3.1,6.1,7.5,11.2,12.7,15.3
	c-7.1,5.6-12.7,13.4-15.7,22.6c-3.8,12.1-2.8,24.9,3,36.1c5.8,11.2,15.6,19.5,27.6,23.4l116,37.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1-23.3-1L40.3,250.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,67.1,21.3,94.6,30.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-16.9,1-23.3-1L40.3,176.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,68,21.7,95.7,30.5c6.4,2,16.8,2.5,23.3,1L377,117c0,0-1.2-5.3-2.7-11.8
	c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1.1-23.3-1L41.4,102.5c-5.9-1.9-10.7-5.9-13.5-11.4c-2.8-5.5-3.4-11.7-1.5-17.6
	C30.3,61.4,43.3,54.7,55.3,58.6"/>
</svg>

                    </div>
                    <div class="line-menu line-module-verdesem"></div>
                    <div class="cont-number-menu color-module-azul">
                      <p class="number-module">1</p>
                    </div>
                    <div class="cont-module-name-menu">
                      <p class="title-module-menu">Módulo</p>
                      <p class="text-module-menu">Fundamentos de la educación militar</p>
                    </div>
                  </div></a></li>
              <li class="options-menu-ova active"><a href="module.html">
                  <div class="cont-info-module">
                    <div class="cont-icon-menu"><svg version="1.1" class="icon-books-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 385.5 312.2" style="enable-background:new 0 0 385.5 312.2;" xml:space="preserve">
<path class="st0 bg-svg-azul" d="M55.3,58.6L121.9,81c5.5,2.4,31.5,11.9,77.7,0.5C257.9,67,384.2,41.9,385.5,41.6l-4.7-23.7
	c-0.1,0-0.4,0.1-0.8,0.2l-120.4-17c-13.2-1.9-34.6-1.3-47.7,1.2L50.9,33.6C30,32.5,10,45.3,3.4,66.2c-3.8,12.1-2.8,24.9,3,36.1
	c3,5.7,7,10.6,11.8,14.7c-7.3,5.6-12.9,13.4-15.9,22.8c-3.8,12-2.8,24.9,3,36.1c3.1,6.1,7.5,11.2,12.7,15.3
	c-7.1,5.6-12.7,13.4-15.7,22.6c-3.8,12.1-2.8,24.9,3,36.1c5.8,11.2,15.6,19.5,27.6,23.4l116,37.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1-23.3-1L40.3,250.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,67.1,21.3,94.6,30.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-16.9,1-23.3-1L40.3,176.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,68,21.7,95.7,30.5c6.4,2,16.8,2.5,23.3,1L377,117c0,0-1.2-5.3-2.7-11.8
	c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1.1-23.3-1L41.4,102.5c-5.9-1.9-10.7-5.9-13.5-11.4c-2.8-5.5-3.4-11.7-1.5-17.6
	C30.3,61.4,43.3,54.7,55.3,58.6"/>
</svg>

                    </div>
                    <div class="line-menu line-module-verdesem"></div>
                    <div class="cont-number-menu color-module-azul">
                      <p class="number-module">1</p>
                    </div>
                    <div class="cont-module-name-menu">
                      <p class="title-module-menu">Módulo</p>
                      <p class="text-module-menu">Fundamentos de la educación militar</p>
                    </div>
                  </div></a></li>
            </ul>
          </label>
        </nav>
      </div>
      <div class="cont-logo-ejercito">
        <h1><img class="img-responsive" src="images/img-logo-ejercito.jpg" alt=""></h1>
      </div>
      <div class="cont-title-ovas">
        <p class="title-ova-bold">CURSO DE PREPARACIÓN </p>
        <p class="title-ova-light">DE INSTRUCTORES NIVEL BÁSICO</p>
      </div>
      <div class="cont-medals-menu">
        <ul class="medals-menu">
          <li class="medal active"></li>
          <li class="medal"></li>
          <li class="medal"></li>
          <li class="medal"></li>
          <li class="medal"></li>
          <li class="medal"></li>
        </ul>
      </div>
    </div>
  </header>
  <!--/-Header-->
  <section class="cont-module-selected">
    <article class="cont-img-module-selected">
      <div class="cont-modulo-select-info">
        <div class="cont-name-module-select module-1">
          <p class="title-list-module-bold">Fundamentos de</p>
          <p class="title-list-module-light">la educación militar la educación militar la educación militar la educación militar la educación militar</p>
        </div>
        <div class="cont-number-module-select module-1">
          <p class="number-module">1</p>
        </div>
      </div>
    </article>
    <article class="cont-score-module">
      <div class="triangle-module"></div>
      <div class="cont-line-verti-module">
        <div class="circle-score"></div>
        <div class="line-score"></div>
      </div>
      <div class="test-score-module">
        <h2 class="title-text-module">Modulo 1</h2>
        <div class="circle-icon"><i class="icon-file"></i></div>
        <p class="text-activities-module">Actividades: 12</p>
        <div class="clear"></div>
        <h3 class="title-score">Resultados Test 1</h3>
        <p class="info-test module">Duración:</p>
        <p class="info-test module">1H</p>
        <p class="info-test module">Cantidad de preguntas:</p>
        <p class="info-test module">20</p>
        <p class="info-test module">Porcentaje aprobación:</p>
        <p class="info-test module">60%</p>
        <div class="clear"></div>
        <div class="cont-table-task-state">
          <table class="cont-task-states-module">
            <thead>
              <tr>
                <th class="header-table-task">Tarea</th>
                <th class="header-table-state">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="body-table-task">
                  <div class="cont-circle-task">
                    <div class="circle-task"></div>
                  </div>
                  <p class="title-task-table">Tarea: 1</p>
                  <p class="text-task-table">Identificar y aplicar los conceptos constitucionales de la Educación militar.</p>
                </td>
                <td class="body-table-state">
                  <div class="cont-icon-state"><i class="icon-check"></i></div>
                </td>
              </tr>
              <tr>
                <td class="body-table-task">
                  <div class="cont-circle-task">
                    <div class="circle-task"></div>
                  </div>
                  <p class="title-task-table">Tarea: 1</p>
                  <p class="text-task-table">Identificar y aplicar los conceptos constitucionales de la Educación militar.</p>
                </td>
                <td class="body-table-state">
                  <div class="cont-icon-state"><i class="icon-check"></i></div>
                </td>
              </tr>
              <tr>
                <td class="body-table-task">
                  <div class="cont-circle-task">
                    <div class="circle-task"></div>
                  </div>
                  <p class="title-task-table">Tarea: 1</p>
                  <p class="text-task-table">Identificar y aplicar los conceptos constitucionales de la Educación militar.</p>
                </td>
                <td class="body-table-state">
                  <div class="cont-icon-state"><i class="icon-check"></i></div>
                </td>
              </tr>
              <tr>
                <td class="body-table-task">
                  <div class="cont-circle-task">
                    <div class="circle-task"></div>
                  </div>
                  <p class="title-task-table">Tarea: 1</p>
                  <p class="text-task-table">Identificar y aplicar los conceptos constitucionales de la Educación militar.</p>
                </td>
                <td class="body-table-state">
                  <div class="cont-icon-state"><i class="icon-check"></i></div>
                </td>
              </tr>
              <tr>
                <td class="body-table-task">
                  <div class="cont-circle-task">
                    <div class="circle-task"></div>
                  </div>
                  <p class="title-task-table">Tarea: 1</p>
                  <p class="text-task-table">Identificar y aplicar los conceptos constitucionales de la Educación militar.</p>
                </td>
                <td class="body-table-state">
                  <div class="cont-icon-state"><i class="icon-check"></i></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clear"></div>
      <div class="cont-btn-default"><a href="#">
          <p class="text-btn-default">Siguiente Módulo</p><i class="icon-arrow"></i></a></div>
    </article>
  </section>
  <footer class="footer-ovas">
    <div class="column-center cont-footer">
      <div class="cont-img-school">
        <div class="img-logo-school"><img src="images/Untitled-1.png" alt=""></div>
        <div class="img-logo-school"><img src="images/Untitled-2.png" alt=""></div>
      </div>
      <div class="cont-progress-bar">
        <div class="progress">
          <div class="progress-workshop">
            <div class="progress-workshop-step">
              <label for="step-1"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-2"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-3"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-4"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-5"></label>
            </div>
            <input type="radio" checked="checked" id="step-1" name="step">
            <input type="radio" id="step-2" name="step">
            <input type="radio" id="step-3" name="step">
            <input type="radio" id="step-4" name="step">
            <input type="radio" id="step-5" name="step">
            <div class="progress-workshop-bar"></div>
            <div class="progress-workshop-bar-set"></div>
          </div>
        </div>
      </div>
      <div class="cont-icons-helpcenter">
        <div class="cont-btn-help-footer"><a href="#"><i class="icon-more"></i></a></div>
        <div class="cont-btn-help-footer"><a href="#"><i class="icon-book"></i></a></div>
        <div class="cont-btn-help-footer"><a href="#"><i class="icon-help-f"></i></a></div>
      </div>
    </div>
  </footer>
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs-funciones-ovas.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
</body></html>
