src/views/tasks-page.pug
//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Curso de preparación de intructores nivel básico

//-Etiqueta Metadescription
block description
	meta(name="description", content="Ovas" )


block content
	//-Encabezado Tarea
	section.cont-header-task.img-header-mask
		div.cont-icon-task
			div.cont-icon
				i.icon-file-blue
			h2.title-task-blue
				|Tarea 1
			div.cont-line-task
				div.line-task
				div.circle-task

		div.cont-text-objective-task.bg-task-blue
			p.text-objective-task
				|Identificar y aplicar conceptos constitucionales de la educación militar.
	
	//-Inicio Tarea
	section.column-center-task(style="display:none;")
		//-Inicio Media
		article.cont-video-task
			iframe(width='560' height='315' src='https://www.youtube.com/embed/IHgFJEJgUrg' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')

		//-Inicio texto
		article.cont-detail-task
			div.cont-text-info-task
				h3.title-bold-task
					|Conceptos constitucionales
				h4.title-light-task
					|de la educación militar
					
			div.cont-detail-text-task
				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

			//-Botón siguiente
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente
					i.icon-arrow

	//-Inicio Tarea galería - texto
	section.column-center-task(style="display:none;")
		//-Inicio Media
		article.cont-gallery-task
			//-Galería
			div.my-gallery(itemscope,itemtype="http://schema.org/ImageGallery")
				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

			//-Mostar Galería
			div.pswp(tabindex="-1", role="dialog", aria-hidden="true")
				div.pswp__bg
					div.pswp__scroll-wrap
						div.pswp__container
							div.pswp__item
							div.pswp__item
							div.pswp__item

						div.pswp__ui.pswp__ui--hidden
							div.pswp__top-bar
								div.pswp__counter
								button.pswp__button.pswp__button--close(title="Close (Esc)")
								button.pswp__button.pswp__button--share(title="Share")
								button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
								button.pswp__button.pswp__button--zoom(title="Zoom in/out")
								div.pswp__preloader
									div.pswp__preloader__icn
										div.pswp__preloader__cut
											div.pswp__preloader__donut
							button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
							button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
							div.pswp__caption
								div.pswp__caption__center




		//-Inicio texto
		article.cont-detail-task
			div.cont-text-info-task
				h3.title-bold-task
					|Conceptos constitucionales
				h4.title-light-task
					|de la educación militar
					
			div.cont-detail-text-task
				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

			//-Botón siguiente
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente
					i.icon-arrow

	//-Inicio Tarea solo texto
	section.column-center-task(style="display:none;")

		//-Inicio texto
		article.cont-detail-only-text-task
			div.cont-title-only-text
				div.cont-text-info-task
				h3.title-bold-task
					|Conceptos constitucionales
				h4.title-light-task
					|de la educación militar

			div.cont-only-text
				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

			//-Botón siguiente
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente
					i.icon-arrow

	//-Inicio Taller
	section.column-center-task

		//-Inicio texto
		article.cont-detail-only-text-task
			div.cont-title-only-text
				div.cont-text-info-task
				h3.title-bold-task
					|Taller de aplicación
				h4.title-light-task
					|CONCEPTOS CONSTITUCIONALES DE LA EDUCACIÓN MILITAR.

			div.cont-only-text
				p.title-workshop-objectives
					|Objetivos

				//-Listado objetivos	
				div.cont-ul-objectives
					p.subtitle-workshop-objectives
						|Generales

						ul.cont-list-objectives
							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				//-Listado objetivos
				div.cont-ul-objectives
					p.subtitle-workshop-objectives
						|Espeficicos

						ul.cont-list-objectives
							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 


			//-Botón actividad
			div.cont-btn-default-double
				a(href="#")
					p.text-btn-default
						|Actividad
					i.icon-play

			//-Botón Resultados
			div.cont-btn-default-double
				a(href="#")
					p.text-btn-default
						|Resultados
					i.icon-arrow


	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

publication/tasks-page.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Curso de preparación de intructores nivel básico</title>
  <meta name="description" content="Ovas">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <!-- Web Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Varela+Round|Roboto:400italic,300,700,400" rel="stylesheet" type="text/css"><!--[if lt IE]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <header class="menu-header-cont">
    <div class="cont-menu-ovas">
      <div class="cont-menu-options">
        <nav class="cont-menu-ova">
          <label>
            <input type="checkbox"><span class="menu"><span class="hamburger"></span></span>
            <ul class="menu-ova">
              <li class="options-menu-ova active"><a href="module.html">
                  <div class="cont-info-module">
                    <div class="cont-icon-menu"><svg version="1.1" class="icon-books-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 385.5 312.2" style="enable-background:new 0 0 385.5 312.2;" xml:space="preserve">
<path class="st0 bg-svg-azul" d="M55.3,58.6L121.9,81c5.5,2.4,31.5,11.9,77.7,0.5C257.9,67,384.2,41.9,385.5,41.6l-4.7-23.7
	c-0.1,0-0.4,0.1-0.8,0.2l-120.4-17c-13.2-1.9-34.6-1.3-47.7,1.2L50.9,33.6C30,32.5,10,45.3,3.4,66.2c-3.8,12.1-2.8,24.9,3,36.1
	c3,5.7,7,10.6,11.8,14.7c-7.3,5.6-12.9,13.4-15.9,22.8c-3.8,12-2.8,24.9,3,36.1c3.1,6.1,7.5,11.2,12.7,15.3
	c-7.1,5.6-12.7,13.4-15.7,22.6c-3.8,12.1-2.8,24.9,3,36.1c5.8,11.2,15.6,19.5,27.6,23.4l116,37.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1-23.3-1L40.3,250.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,67.1,21.3,94.6,30.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-16.9,1-23.3-1L40.3,176.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,68,21.7,95.7,30.5c6.4,2,16.8,2.5,23.3,1L377,117c0,0-1.2-5.3-2.7-11.8
	c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1.1-23.3-1L41.4,102.5c-5.9-1.9-10.7-5.9-13.5-11.4c-2.8-5.5-3.4-11.7-1.5-17.6
	C30.3,61.4,43.3,54.7,55.3,58.6"/>
</svg>

                    </div>
                    <div class="line-menu line-module-verdesem"></div>
                    <div class="cont-number-menu color-module-azul">
                      <p class="number-module">1</p>
                    </div>
                    <div class="cont-module-name-menu">
                      <p class="title-module-menu">Módulo</p>
                      <p class="text-module-menu">Fundamentos de la educación militar</p>
                    </div>
                  </div></a></li>
              <li class="options-menu-ova active"><a href="module.html">
                  <div class="cont-info-module">
                    <div class="cont-icon-menu"><svg version="1.1" class="icon-books-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 385.5 312.2" style="enable-background:new 0 0 385.5 312.2;" xml:space="preserve">
<path class="st0 bg-svg-azul" d="M55.3,58.6L121.9,81c5.5,2.4,31.5,11.9,77.7,0.5C257.9,67,384.2,41.9,385.5,41.6l-4.7-23.7
	c-0.1,0-0.4,0.1-0.8,0.2l-120.4-17c-13.2-1.9-34.6-1.3-47.7,1.2L50.9,33.6C30,32.5,10,45.3,3.4,66.2c-3.8,12.1-2.8,24.9,3,36.1
	c3,5.7,7,10.6,11.8,14.7c-7.3,5.6-12.9,13.4-15.9,22.8c-3.8,12-2.8,24.9,3,36.1c3.1,6.1,7.5,11.2,12.7,15.3
	c-7.1,5.6-12.7,13.4-15.7,22.6c-3.8,12.1-2.8,24.9,3,36.1c5.8,11.2,15.6,19.5,27.6,23.4l116,37.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1-23.3-1L40.3,250.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,67.1,21.3,94.6,30.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-16.9,1-23.3-1L40.3,176.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,68,21.7,95.7,30.5c6.4,2,16.8,2.5,23.3,1L377,117c0,0-1.2-5.3-2.7-11.8
	c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1.1-23.3-1L41.4,102.5c-5.9-1.9-10.7-5.9-13.5-11.4c-2.8-5.5-3.4-11.7-1.5-17.6
	C30.3,61.4,43.3,54.7,55.3,58.6"/>
</svg>

                    </div>
                    <div class="line-menu line-module-verdesem"></div>
                    <div class="cont-number-menu color-module-azul">
                      <p class="number-module">1</p>
                    </div>
                    <div class="cont-module-name-menu">
                      <p class="title-module-menu">Módulo</p>
                      <p class="text-module-menu">Fundamentos de la educación militar</p>
                    </div>
                  </div></a></li>
              <li class="options-menu-ova active"><a href="module.html">
                  <div class="cont-info-module">
                    <div class="cont-icon-menu"><svg version="1.1" class="icon-books-menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 385.5 312.2" style="enable-background:new 0 0 385.5 312.2;" xml:space="preserve">
<path class="st0 bg-svg-azul" d="M55.3,58.6L121.9,81c5.5,2.4,31.5,11.9,77.7,0.5C257.9,67,384.2,41.9,385.5,41.6l-4.7-23.7
	c-0.1,0-0.4,0.1-0.8,0.2l-120.4-17c-13.2-1.9-34.6-1.3-47.7,1.2L50.9,33.6C30,32.5,10,45.3,3.4,66.2c-3.8,12.1-2.8,24.9,3,36.1
	c3,5.7,7,10.6,11.8,14.7c-7.3,5.6-12.9,13.4-15.9,22.8c-3.8,12-2.8,24.9,3,36.1c3.1,6.1,7.5,11.2,12.7,15.3
	c-7.1,5.6-12.7,13.4-15.7,22.6c-3.8,12.1-2.8,24.9,3,36.1c5.8,11.2,15.6,19.5,27.6,23.4l116,37.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1-23.3-1L40.3,250.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,67.1,21.3,94.6,30.1c6.4,2,16.8,2.5,23.3,1l203.7-46.6
	c0,0-1.2-5.3-2.7-11.8c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-16.9,1-23.3-1L40.3,176.1c-5.9-1.9-10.7-5.9-13.5-11.4
	c-2.8-5.5-3.4-11.7-1.5-17.6c3.9-12.1,16.9-18.8,29-15c0-0.1,68,21.7,95.7,30.5c6.4,2,16.8,2.5,23.3,1L377,117c0,0-1.2-5.3-2.7-11.8
	c-1.5-6.5-8-10.6-14.5-9.1l-185.4,42.5c-6.5,1.5-17,1.1-23.3-1L41.4,102.5c-5.9-1.9-10.7-5.9-13.5-11.4c-2.8-5.5-3.4-11.7-1.5-17.6
	C30.3,61.4,43.3,54.7,55.3,58.6"/>
</svg>

                    </div>
                    <div class="line-menu line-module-verdesem"></div>
                    <div class="cont-number-menu color-module-azul">
                      <p class="number-module">1</p>
                    </div>
                    <div class="cont-module-name-menu">
                      <p class="title-module-menu">Módulo</p>
                      <p class="text-module-menu">Fundamentos de la educación militar</p>
                    </div>
                  </div></a></li>
            </ul>
          </label>
        </nav>
      </div>
      <div class="cont-logo-ejercito">
        <h1><img class="img-responsive" src="images/img-logo-ejercito.jpg" alt=""></h1>
      </div>
      <div class="cont-title-ovas">
        <p class="title-ova-bold">CURSO DE PREPARACIÓN </p>
        <p class="title-ova-light">DE INSTRUCTORES NIVEL BÁSICO</p>
      </div>
      <div class="cont-medals-menu">
        <ul class="medals-menu">
          <li class="medal active"></li>
          <li class="medal"></li>
          <li class="medal"></li>
          <li class="medal"></li>
          <li class="medal"></li>
          <li class="medal"></li>
        </ul>
      </div>
    </div>
  </header>
  <!--/-Header-->
  <section class="cont-header-task img-header-mask">
    <div class="cont-icon-task">
      <div class="cont-icon"><i class="icon-file-blue"></i></div>
      <h2 class="title-task-blue">Tarea 1</h2>
      <div class="cont-line-task">
        <div class="line-task"></div>
        <div class="circle-task"></div>
      </div>
    </div>
    <div class="cont-text-objective-task bg-task-blue">
      <p class="text-objective-task">Identificar y aplicar conceptos constitucionales de la educación militar.</p>
    </div>
  </section>
  <section class="column-center-task" style="display:none;">
    <article class="cont-video-task">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IHgFJEJgUrg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </article>
    <article class="cont-detail-task">
      <div class="cont-text-info-task">
        <h3 class="title-bold-task">Conceptos constitucionales</h3>
        <h4 class="title-light-task">de la educación militar</h4>
      </div>
      <div class="cont-detail-text-task">
        <p class="text-description-task">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	<br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	</Lorem>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</Lorem><br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad </Lorem>
        </p>
      </div>
      <div class="cont-btn-default"><a href="#">
          <p class="text-btn-default">Siguiente</p><i class="icon-arrow"></i></a></div>
    </article>
  </section>
  <section class="column-center-task" style="display:none;">
    <article class="cont-gallery-task">
      <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024"><img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description"></a></figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024"><img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description"></a></figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024"><img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description"></a></figure>
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024"><img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description"></a></figure>
      </div>
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg">
          <div class="pswp__scroll-wrap">
            <div class="pswp__container">
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
              <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
              <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
              <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
              <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="cont-detail-task">
      <div class="cont-text-info-task">
        <h3 class="title-bold-task">Conceptos constitucionales</h3>
        <h4 class="title-light-task">de la educación militar</h4>
      </div>
      <div class="cont-detail-text-task">
        <p class="text-description-task">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	<br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	</Lorem>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</Lorem><br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad </Lorem>
        </p>
      </div>
      <div class="cont-btn-default"><a href="#">
          <p class="text-btn-default">Siguiente</p><i class="icon-arrow"></i></a></div>
    </article>
  </section>
  <section class="column-center-task" style="display:none;">
    <article class="cont-detail-only-text-task">
      <div class="cont-title-only-text">
        <div class="cont-text-info-task"></div>
        <h3 class="title-bold-task">Conceptos constitucionales</h3>
        <h4 class="title-light-task">de la educación militar</h4>
      </div>
      <div class="cont-only-text">
        <p class="text-description-task">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	<br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	</Lorem>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</Lorem><br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad </Lorem>
        </p>
        <p class="text-description-task">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	<br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	</Lorem>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</Lorem><br/>
          <Lorem>ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad </Lorem>
        </p>
      </div>
      <div class="cont-btn-default"><a href="#">
          <p class="text-btn-default">Siguiente</p><i class="icon-arrow"></i></a></div>
    </article>
  </section>
  <section class="column-center-task">
    <article class="cont-detail-only-text-task">
      <div class="cont-title-only-text">
        <div class="cont-text-info-task"></div>
        <h3 class="title-bold-task">Taller de aplicación</h3>
        <h4 class="title-light-task">CONCEPTOS CONSTITUCIONALES DE LA EDUCACIÓN MILITAR.</h4>
      </div>
      <div class="cont-only-text">
        <p class="title-workshop-objectives">Objetivos</p>
        <div class="cont-ul-objectives">
          <p class="subtitle-workshop-objectives">Generales
            <ul class="cont-list-objectives">
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
            </ul>
          </p>
        </div>
        <div class="cont-ul-objectives">
          <p class="subtitle-workshop-objectives">Espeficicos
            <ul class="cont-list-objectives">
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
              <li>
                <p class="text-list-objetives">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div class="cont-btn-default-double"><a href="#">
          <p class="text-btn-default">Actividad</p><i class="icon-play"></i></a></div>
      <div class="cont-btn-default-double"><a href="#">
          <p class="text-btn-default">Resultados</p><i class="icon-arrow"></i></a></div>
    </article>
  </section>
  <footer class="footer-ovas">
    <div class="column-center cont-footer">
      <div class="cont-img-school">
        <div class="img-logo-school"><img src="images/Untitled-1.png" alt=""></div>
        <div class="img-logo-school"><img src="images/Untitled-2.png" alt=""></div>
      </div>
      <div class="cont-progress-bar">
        <div class="progress">
          <div class="progress-workshop">
            <div class="progress-workshop-step">
              <label for="step-1"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-2"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-3"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-4"></label>
            </div>
            <div class="progress-workshop-step">
              <label for="step-5"></label>
            </div>
            <input type="radio" checked="checked" id="step-1" name="step">
            <input type="radio" id="step-2" name="step">
            <input type="radio" id="step-3" name="step">
            <input type="radio" id="step-4" name="step">
            <input type="radio" id="step-5" name="step">
            <div class="progress-workshop-bar"></div>
            <div class="progress-workshop-bar-set"></div>
          </div>
        </div>
      </div>
      <div class="cont-icons-helpcenter">
        <div class="cont-btn-help-footer"><a href="#"><i class="icon-more"></i></a></div>
        <div class="cont-btn-help-footer"><a href="#"><i class="icon-book"></i></a></div>
        <div class="cont-btn-help-footer"><a href="#"><i class="icon-help-f"></i></a></div>
      </div>
    </div>
  </footer>
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs-funciones-ovas.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
</body></html>
